<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDays</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <section class="hero">
            <h1>웹사이트에 오신 것을 환영합니다!1234</h1>
            <p>이곳은 여러분의 비즈니스를 소개하는 멋진 공간입니다.</p>
        </section>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>